{% extends 'base.html' %}

{% block title %}
Меню
{% endblock %}

{% block content %}
    {% for zodiac in zodiacs %}
        {% if forloop.first %}
            <li><b>{{forloop.counter}} <a href="{%url 'horoscope-name' sign_zodiac=zodiac%}">{{ zodiac|capfirst }}</a></b></li>
        {% elif forloop.last %}
            <li style="color:red">{{forloop.counter}} <a href="{%url 'horoscope-name' sign_zodiac=zodiac%}">{{ zodiac|capfirst }}</a></li>
        {% else %}
            <li>{{forloop.counter}} <a href="{%url 'horoscope-name' sign_zodiac=zodiac%}">{{ zodiac|capfirst }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
