{% extends 'base.html' %}

{% block title %}
Меню
{% endblock %}


{% block content %}

    {% include 'includes/navbar.html' %}

    {% for zodiac in zodiacs %}
        {% if forloop.first %}
            <li><b><a href="{%url 'horoscope-name' sign_zodiac=zodiac%}">{{ zodiac|capfirst }}</a></b></li>
        {% elif forloop.last %}
            <li style="color:red"><a href="{%url 'horoscope-name' sign_zodiac=zodiac%}">{{ zodiac|capfirst }}</a></li>
        {% else %}
            <li><a href="{%url 'horoscope-name' sign_zodiac=zodiac%}">{{ zodiac|capfirst }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
